/*(((((((((()hero())))))))))*/
.section-titulo{ margin: 15px 0 50px 0;}

/*(((((((((()Sobre())))))))))*/
.sobre .section-texto{
  margin-top: 15px;
}


@media(min-width: 992px){
  .hero{text-align: center;}
  .hero .container{grid-template-columns: auto;}


  .sobre .section-texto{text-align: left;}
}